.avatar {
  &__eye {
    animation: blink 5s infinite;
    transform-origin: center;

    @keyframes blink {
      60% {
        opacity: 1;
        transform: none;
        animation-timing-function: ease-in;
      }
      61% {
        transform: translateY(5px) scaleY(0);
        opacity: 0;
      }
      65% {
        opacity: 1;
        transform: none;
        animation-timing-function: ease-in;
      }
      90% {
        opacity: 1;
        transform: none;
        animation-timing-function: ease-in;
      }
      91% {
        transform: translateY(5px) scaleY(0);
        opacity: 0;
      }
      95% {
        opacity: 1;
        transform: none;
        animation-timing-function: ease-in;
      }
    }
  }
}
