.avatar {
  &__message {
    position: relative;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: auto;
      right: 30%;
      top: auto;
      bottom: -20px;
      border: 12px solid;
      border-color: #fff transparent transparent #fff;
    }

    &-header {
      width: 100%;
      position: relative;
    }

    &-emails-list {
      width: 100%;
      margin-top: 0.25rem;

      li {
        width: 100%;
        position: relative;

        .btn-danger {
          position: absolute;
          top: 50%;
          right: 0.22rem;
          transform: translateY(-50%);
          padding: 0;
          color: #f13f6d;
        }
      }
    }
  }

  &__show-emails-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
  }

  &__eye {
    animation: blink 5s infinite;
    transform-origin: center;

    @keyframes blink {
      60% {
        opacity: 1;
        transform: none;
        animation-timing-function: ease-in;
      }
      61% {
        transform: translateY(5px) scaleY(0);
        opacity: 0;
      }
      65% {
        opacity: 1;
        transform: none;
        animation-timing-function: ease-in;
      }
      90% {
        opacity: 1;
        transform: none;
        animation-timing-function: ease-in;
      }
      91% {
        transform: translateY(5px) scaleY(0);
        opacity: 0;
      }
      95% {
        opacity: 1;
        transform: none;
        animation-timing-function: ease-in;
      }
    }
  }
}
