* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

.btn {
  &-primary {
    background-color: #011122;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.625rem;
    font-weight: 600;
    border-radius: 4rem;
    padding: 0.875rem;
    transition: all 0.2s ease;

    &:hover {
      background-color: #011122e1;
    }
  }
}

.popup {
  min-width: 300px;
  padding: 2rem;
  padding-top: 1rem;
  margin: 0;

  &.dark {
    background-color: #011122;
    color: #fff;

    form {
      label {
        color: #011122;
      }
    }
  }

  &.light {
    background-color: #ecf3fe;
  }

  &__header {
    text-align: center;
    position: relative;
  }

  &__avatar {
    position: relative;
    bottom: -6px;

    svg {
      background-size: 4rem;

      .eye {
        animation: blink 5s infinite;
        transform-origin: center;

        @keyframes blink {
          60% {
            opacity: 1;
            transform: none;
            animation-timing-function: ease-in;
          }
          61% {
            transform: translateY(5px) scaleY(0);
            opacity: 0;
          }
          65% {
            opacity: 1;
            transform: none;
            animation-timing-function: ease-in;
          }
          90% {
            opacity: 1;
            transform: none;
            animation-timing-function: ease-in;
          }
          91% {
            transform: translateY(5px) scaleY(0);
            opacity: 0;
          }
          95% {
            opacity: 1;
            transform: none;
            animation-timing-function: ease-in;
          }
        }
      }
    }
  }

  &__title {
    font-size: 1rem;
    margin: 0;
  }

  &__switch-mode {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding-left: 0.5rem;

    label {
      cursor: pointer;
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0;
    }
  }

  &__main {
    position: relative;
    z-index: 2;
  }

  &__password {
    padding-top: 1.5rem;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
  }
}

.form {
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 1rem;

  &__group {
    margin-bottom: 1rem;
  }

  &__input-container {
    margin-top: 0.5rem;
  }

  &__input {
    width: 100%;
    height: 2rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border-color: #011122;
  }

  &__button {
    width: 100%;
    margin-top: 0.75rem;
  }
}
