* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  font-weight: 600;
}

button {
  cursor: pointer;
}

.btn {
  &-primary {
    background-color: #fff;
    color: #011122;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.625rem;
    font-weight: 600;
    border-radius: 4rem;
    padding: 0.875rem;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.95);
    }
  }
}

.popup {
  min-width: 300px;
  padding: 2rem;
  padding-bottom: .5rem;
  margin: 0;

  &.dark {
    background-color: #011122;
    color: #fff;
  }

  &.light {
    .btn-primary {
      background-color: #011122;
      color: #fff;
      transition: all 0.2s ease;

      &:hover {
        background-color: #011122e1;
      }
    }

    .popup__password {
      border-color: #011122;
    }
  }

  &__header {
    margin-bottom: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 1rem;
    margin: 0;
  }

  &__switch-mode {
    cursor: pointer;
    text-align: right;
    padding-left: .5rem;

    input {
      opacity: 0;
      width: 0;
      height: 0;
      margin: 0;
    }
  }

  &__password {
    border-top: 2px solid white;
    padding: 1.5rem 0 1.25rem;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: center;
  }
}

.form {
  &__group {
    margin-bottom: 1rem;
  }

  &__input-container {
    margin-top: 0.5rem;
  }

  &__input {
    width: 100%;
    height: 2rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border-color: #011122;
  }

  &__button {
    width: 100%;
    margin-top: .75rem;
    margin-bottom: 1.75rem;
    border: none;
    background: white;
  }
}
