@import "../../assets/scss/main.scss";

.c-popup {
  min-width: 300px;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 0;
  margin: 0;

  &.dark {
    background-color: $dark-blue;
    color: $white;

    a {
      color: $white;
    }

    .c-avatar {
      color: $dark-blue;
    }

    .c-form {
      label {
        color: $dark-blue;
      }
    }

    .c-switch-lang {
      button {
        color: $white;
      }
    }
  }

  &.light {
    background-color: $light-blue;
  }

  &__top {
    margin-bottom: 0.5rem;
    padding: 0 2.5rem;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__header {
    text-align: center;
    position: relative;
  }

  &__avatar {
    position: relative;
    bottom: -6px;
  }

  &__main {
    position: relative;
    z-index: 2;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
    font-size: 0.725rem;
    font-weight: 400;
    margin-top: 0.75rem;
    padding-bottom: 0.5rem;

    a {
      color: #0111224d;
    }
  }
}

.c-switch-mode {
  position: absolute;
  top: 0;
  right: 0.65rem;
  text-align: right;

  label {
    cursor: pointer;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
  }
}

.c-input-password {
  margin-top: 1.25rem;
  position: relative;

  input {
    font-size: 0.875rem;
    letter-spacing: 2px;
    text-align: center;
    border: none;

    &.password-copied {
      &:focus {
        outline: $green 2px auto;
      }
    }
  }

  button {
    position: absolute;
    border-left: 1px solid $light-blue;
    height: calc(100% - 2px);
    right: 0;
    padding: 0 0.625rem;
    top: 1px;
  }
}

.c-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.875rem;

  button {
    width: 100%;
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.c-form {
  background-color: $white;
  border-radius: 0.25rem;
  padding: 1rem;

  .c-form-group {
    margin-bottom: 1rem;

    &__input-container {
      margin-top: 0.5rem;
      position: relative;

      &--email {
        position: relative;

        input {
          padding-right: 2rem;
        }

        button {
          position: absolute;
          top: 50%;
          right: 0.25rem;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__button {
    width: 100%;
    margin-top: 0.25rem;
  }
}

.c-switch-lang {
  button {
    font-size: 0.625rem;
    font-weight: 400;
    padding: 0 4px;

    &:first-child {
      padding-left: 0;
    }

    &.active {
      font-weight: 600;
    }
  }
}
